# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc

# Django
*.log
local_settings.py
db.sqlite3          # Database không push lên GitHub (mỗi người tạo riêng)
media/

# Môi trường ảo
venv/
env/
.venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
